<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('Apa itu Kategori Data Pemerintahan?') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
    <p>
      Kategori data pemerintahan daerah adalah pengelompokan data yang dikelola oleh pemerintah daerah sesuai dengan kebijakan Satu Data Indonesia (SDI).
    </p>
    <strong>Tujuannya supaya semua data daerah:</strong>
    <ul>
      <li>Seragam dan tidak tumpang tindih antar OPD</li>
      <li>Bisa diintegrasikan ke pusat (Satu Data Nasional)</li>
      <li>Mudah diakses untuk perencanaan pembangunan dan pelayanan publik</li>
    </ul>

    <strong>Kategori Data (Tema Besar) dalam Pemerintahan Daerah:</strong>
    <ul>
      <li>
        <b>Data Kependudukan & Sosial</b><br>
        <span style="font-weight:normal;">Contoh: jumlah penduduk, data pendidikan, kesehatan, kemiskinan, ketenagakerjaan.</span>
      </li>
      <li>
        <b>Data Ekonomi & Keuangan Daerah</b><br>
        <span style="font-weight:normal;">Contoh: PDRB, investasi, perdagangan, APBD, realisasi anggaran, pendapatan daerah.</span>
      </li>
      <li>
        <b>Data Infrastruktur & Wilayah</b><br>
        <span style="font-weight:normal;">Contoh: panjang jalan, jembatan, tata ruang, perumahan, transportasi, energi, telekomunikasi.</span>
      </li>
      <li>
        <b>Data Lingkungan Hidup & Pertanian</b><br>
        <span style="font-weight:normal;">Contoh: data pertanian, perkebunan, perikanan, kelautan, kehutanan, kualitas air, udara, mitigasi bencana.</span>
      </li>
      <li>
        <b>Data Pemerintahan, Hukum, & Politik</b><br>
        <span style="font-weight:normal;">Contoh: struktur OPD, kepegawaian, pelayanan publik, peraturan daerah, hasil pilkada.</span>
      </li>
      <li>
        <b>Data Tematik (khusus sesuai potensi daerah)</b><br>
        <span style="font-weight:normal;">
          Contoh:
          <ul>
            <li>Pariwisata &rarr; untuk daerah wisata</li>
            <li>Pertambangan &amp; energi &rarr; untuk daerah kaya SDA</li>
            <li>Kemaritiman &rarr; untuk daerah pesisir dan kepulauan</li>
          </ul>
        </span>
      </li>
    </ul>
    <p>
      Kategori data pemerintahan daerah adalah pengelompokan jenis data agar lebih mudah dikelola, dipublikasikan, dan dimanfaatkan.
    </p>
    {% endtrans %}
    </p>
  </div>
</div>