{#
Displays all groups (categories) in the sidebar.

truncate - Max length for the group description. Defaults to full length if not provided.

Usage:
    {% snippet 'snippets/all_groups.html', truncate=150 %}
#}

{% set groups = h.groups_list() %} {# Ambil semua groups dari CKAN #}

{% for group in groups %}
  {% set url = h.url_for(controller='group', action='read', id=group.name) %}
  <section class="module module-narrow module-shallow group">
    <div class="module-content media media-vertical">
      <a class="media-image" href="{{ url }}">
        <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}"
             class="img-responsive" width="200" height="125" alt="{{ group.name }}" />
      </a>
      <div class="media-content">
        <h3 class="media-heading"><a href="{{ url }}">{{ group.title or group.name }}</a></h3>
        {% if group.description %}
          <p>{{ h.markdown_extract(group.description, truncate or 0) }}</p>
        {% endif %}
      </div>
    </div>
  </section>
{% endfor %}

