<ul class="media-grid" data-module="media-grid">
  {% if groups and groups|length > 0 %}
    {% for group in groups %}
      <li class="media-item">
        <a href="{{ h.url_for('group_read', id=group.name) }}" title="View {{ group.title or group.name }}" class="media-view">
          <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}"
               alt="{{ group.name }}"
               class="media-image img-responsive">

          <h2 class="media-heading">{{ group.title or group.name }}</h2>

          <span class="count">
            {{ group.package_count or 0 }} Datasets
          </span>
        </a>
      </li>
    {% endfor %}
  {% else %}
    <li class="media-item">
      <p><em>Tidak ada grup yang tersedia.</em></p>
    </li>
  {% endif %}
</ul>
