<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>End Trial Notification</title>
</head>

<body>
  <p>Hi {{ user_name }},</p>

  <p>Your PortalJS Cloud trial ends tomorrow, and your portal will go offline unless you upgrade. But why stop now? You
    already have a fully functional data portal up and running.</p>

  <ul>
    <li>🔹 Keep your portal running without interruption</li>
    <li>🔹 Unlock branding & customization options</li>
    <li>🔹 Need a custom domain? Upgrade, and we’ll set it up for you!</li>
  </ul>

  <p>Your trial ends tomorrow, but you can keep your portal live by
    <a href="https://www.portaljs.com/pricing?buy=true">upgrading today</a>.
  </p>

  <p>Have any questions before upgrading? Reply or book a call with me:</p>
  <p>📞 <a href="https://calendar.app.google/i1H9Wtev4yp8sRV98">Book a time here</a></p>

  <p>See you inside!</p>

  <p>Cheers,<br>
    Lucas from PortalJS TEAM</p>
</body>

</html>