<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Reset Password</title>
</head>

<body>
   <p>Dear {{ user_name }},</p>

   <p>It seems like you're looking to get back into your {{ site_title }} account! Simply click the link below to reset
      your password and get back on track:</p>

   <p><a href="{{ reset_link }}">{{ reset_link }}</a></p>

   <p>If you didn’t make this request, you can safely ignore this email. Your account remains secure, and no changes
      will be made.</p>

   <p>If you need a hand or have any questions, feel free to contact us. We're here to help!</p>

   <p>Take care,<br>
      The {{ site_title }} Team</p>
</body>

</html>