<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-lg fa-info-circle"></i>
    {{ _('Apa itu OPD?') }}
  </h2>
  <div class="module-content">
    {% trans %}
      <p>OPD adalah instansi atau lembaga yang dibentuk oleh pemerintah daerah (provinsi, kabupaten, atau kota) untuk membantu kepala daerah dalam menyelenggarakan pemerintahan dan memberikan pelayanan kepada masyarakat.</p>
      <p>Organisasi Perangkat Daerah (OPD) adalah unsur pelaksana pemerintahan daerah yang dibentuk oleh pemerintah daerah Kabupaten untuk melaksanakan tugas pokok dan fungsi Pemerintahan sesuai dengan urusan pemerintahan yang menjadi kewenangannya.</p>
    {% endtrans %}
  </div>
</div>
