<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('Tentang OPD') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
 <p>
      Organisasi Perangkat Daerah (OPD) adalah unsur pelaksana pemerintahan daerah yang dibentuk oleh pemerintah daerah Kabupaten untuk melaksanakan tugas pokok dan fungsi Pemerintahan sesuai dengan urusan pemerintahan yang menjadi kewenangannya.
    </p>
    <strong>Dasar hukum:</strong>
    <ol>
      <li>1. Undang-Undang Nomor 23 Tahun 2014 tentang Pemerintahan Daerah</li>
      <li>2. Peraturan Pemerintah Nomor 18 Tahun 2016 tentang Perangkat Daerah</li>
    </ol>

    <strong>Fungsi utama OPD:</strong>
    <ol>
      <li>1. Membantu Bupati dalam menyusun dan melaksanakan kebijakan daerah.</li>
      <li>2. Menjalankan urusan pemerintahan yang menjadi kewenangan daerah, seperti pendidikan, kesehatan, pekerjaan umum, lingkungan hidup, sosial, dll.</li>
      <li>3. Memberikan pelayanan publik kepada masyarakat.</li>
    </ol>

    <strong>Bentuk OPD:</strong>
    <ol>
      <li>1. Dinas <span style="font-weight:normal;">(misalnya: Dinas Pendidikan, Dinas Kesehatan, Dinas Pekerjaan Umum)</span></li>
      <li>2. Badan <span style="font-weight:normal;">(misalnya: Badan Kepegawaian Daerah, Badan Penanggulangan Bencana Daerah)</span></li>
      <li>3. Kantor/Sekretariat <span style="font-weight:normal;">(misalnya: Sekretariat Daerah, Sekretariat DPRD)</span></li>
      <li>4. Kecamatan <span style="font-weight:normal;">(sebagai perangkat daerah wilayah kerja Bupati)</span></li>
    </ol>
      {% endtrans %}
    </p>
  </div>
</div>