<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-info-circle"></i>
    {{ _('Tentang OPD') }}
  </h2>
  <div class="module-content">
    <p>
      {% trans %}
Organisasi Perangkat Daerah (OPD) adalah unsur pelaksana pemerintahan daerah yang dibentuk oleh pemerintah daerah Kabupaten untuk melaksanakan tugas pokok dan fungsi Pemerintahan sesuai dengan urusan pemerintahan yang menjadi kewenangannya.
Dasar hukum:
1. Undang-Undang Nomor 23 Tahun 2014 tentang Pemerintahan Daerah
2. Peraturan Pemerintah Nomor 18 Tahun 2016 tentang Perangkat Daerah

Fungsi utama OPD:
1. Membantu Bupati dalam menyusun dan melaksanakan kebijakan daerah.
2. Menjalankan urusan pemerintahan yang menjadi kewenangan daerah, seperti    pendidikan, kesehatan, pekerjaan umum, lingkungan hidup, sosial, dll.
3. Memberikan pelayanan publik kepada masyarakat.

Bentuk OPD:
1. Dinas (misalnya: Dinas Pendidikan, Dinas Kesehatan, Dinas Pekerjaan Umum)
2. Badan (misalnya: Badan Kepegawaian Daerah, Badan Penanggulangan Bencana Daerah)
3. Kantor/Sekretariat (misalnya: Sekretariat Daerah, Sekretariat DPRD)
4. Kecamatan (sebagai perangkat daerah wilayah kerja Bupati).
      {% endtrans %}
    </p>
  </div>
</div>