{% trans %}
<p>Portal Satu Data ORAS (OpenData Resource Access System)</p>

<p>Sebuah sistem atau platform digital yang digunakan untuk mengelola, mengintegrasikan, dan menyajikan data dari berbagai instansi atau perangkat daerah secara terpusat dan terbuka. Portal ini merupakan implementasi dari kebijakan Satu Data Indonesia di tingkat daerah.</p>

<p>Tujuan Portal Satu Data Daerah:</p>

<p>
<ul>
  <li>Menyatukan data dari berbagai OPD (Organisasi Perangkat Daerah) agar tidak tumpang tindih atau berbeda-beda.</li>
  <li>Meningkatkan kualitas data agar akurat, mutakhir, terpadu, dan dapat dipertanggungjawabkan.</li>
  <li>Mendukung pengambilan keputusan berbasis data oleh pemerintah daerah.</li>
  <li>Mendorong transparansi dan partisipasi publik, dengan membuka data untuk umum (open data).</li>
</ul>
</p>

<p>Portal Satu Data Kabupaten Bolaang Mongondow Timur menyajikan data dari 38 (tiga puluh delapan) Organisasi Perangkat Daerah sesuai dengan urusan masing-masing dan dibagi menjadi 8 kategori disajikan pada menu grup, yaitu; Ekonomi, Infrastruktur, Kesehatan, Lingkungan, Pemerintahan, Pendidikan, Sosial Kemasyarakatan dan Sumber Daya Manusia.</p>
{% endtrans %}
