{% extends "base.html" %}

{%- block page -%}

  {% block skip %}
    <div class="sr-only sr-only-focusable"><a href="#content">{{ _('Skip to content') }}</a></div>
  {% endblock %}

  {# Header #}
  {%- block header %}
    {% include "header.html" %}
  {% endblock -%}

  {# Content #}
  {%- block content %}
    {% block maintag %}<div class="main">{% endblock %}
      <div id="content" class="container">
        {% block main_content %}
          {% block flash %}
            <div class="flash-messages">
              {% block flash_inner %}
                {% for message in h.flash.pop_messages() | list %}
                  <div class="alert fade in {{ message.category }}">
                    {{ h.literal(message) }}
                  </div>
                {% endfor %}
              {% endblock %}
            </div>
          {% endblock %}

          {% block toolbar %}
            <div class="toolbar" role="navigation" aria-label="{{ _('Breadcrumb') }}">
              {% block breadcrumb %}
                {% if self.breadcrumb_content() | trim %}
                  <ol class="breadcrumb">
                    {% snippet 'snippets/home_breadcrumb_item.html' %}
                    {% block breadcrumb_content %}{% endblock %}
                  </ol>
                {% endif %}
              {% endblock %}
            </div>
          {% endblock %}

          <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' or c.action=='resource_read' %} no-nav{% endif %}">
            {% block pre_primary %}{% endblock %}

            {% block secondary %}
              <aside class="secondary col-sm-3">
                {% block secondary_content %}{% endblock %}
              </aside>
            {% endblock %}

            {% block primary %}
              <div class="primary col-sm-9 col-xs-12" role="main">
                {% block primary_content %}
                  <article class="module">
                    {% block page_header %}
                      <header class="module-content page-header">
                        {% if self.content_action() | trim %}
                          <div class="content_action">
                            {% block content_action %}{% endblock %}
                          </div>
                        {% endif %}
                        <ul class="nav nav-tabs">
                          {% block content_primary_nav %}{% endblock %}
                        </ul>
                      </header>
                    {% endblock %}
                    <div class="module-content">
                      {% if self.page_primary_action() | trim %}
                        <div class="page_primary_action">
                          {% block page_primary_action %}{% endblock %}
                        </div>
                      {% endif %}
                      {% block primary_content_inner %}{% endblock %}
                    </div>
                  </article>
                {% endblock %}
              </div>
            {% endblock %}
          </div>
        {% endblock %}
      </div>
    </div>
  {% endblock -%}

  {# Footer #}
  {%- block footer %}
    {% include "footer.html" %}
  {% endblock -%}

{%- endblock -%}

{# Scripts - hanya 1x block! #}
{%- block scripts %}
  {% asset 'base/main' %}
  {% asset 'base/ckan' %}
  {% if g.tracking_enabled %}
    {% asset 'base/tracking' %}
  {% endif %}
  {{ super() }}
  <script src="{{ h.url_for_static('/js/custom.js') }}"></script>
{% endblock -%}
